@import '../../../assets/styles/colors';

footer {
    width: 100%;
    min-height: 80px;
    //background-color: $color-dark-gray;
    color: white;
    position: absolute;
    bottom: 0;
    margin-top: 40px;
}