main {
    min-height: 488px;
    margin-left: 88px;
    padding-top: 48px;

    form {
        width: 400px;
        display: flex;
        flex-direction: column;

        input, select {
            margin-bottom: 16px;

            &:disabled {
                background-color: #CCC;
            }
        }

        label {
            margin-bottom: 8px;
        }

        button {
            margin-top: 24px;
        }
    }

}