<app-header></app-header>
<main>
    <h2>Formulário de Registro</h2>
    <p>Preencha os campos abaixo para realizar seu cadastro.</p>
    <!-- <form #memberForm="ngForm" action="submit" (submit)="authenticate()">
        <label for="name">Nome</label>
            <input ngModel type="text" placeholder="Digite aqui o seu nome completo" name="name" required />
        <label for="email">E-mail</label>
            <input ngModel type="email" placeholder="Digite aqui o seu email" name="email" required />        
        <label for="password">Senha</label>
            <input ngModel type="password" placeholder="Digite aqui a sua senha" name="password" required />        
        <select ngModel name="membership">
            <option value="Essential">Essential</option>
            <option value="Ultimate">Ultimate</option>
            <option value="Premium">Premium</option>
        </select>
        <label for="date">Data de início</label>
        <button [disabled]="!email || !password">Login</button>
    </form> -->
</main>
<app-footer></app-footer>