<footer>
    <div class="wide-column">
        <a routerLink="/home"><img src="../../../../assets/img/logo-purple.png" alt="Amigo Animal"></a>
        <p>
            Amigo Animal é um programa criado para estreitar laços entre pessoas que têm o
            sonho de adotar um pet e nossas ONGs e protetores parceiros. Vamos juntos 
            incentivar a adoção, conscientizar sobre a posse responsável e fomentar a cultura 
            de doação em prol do bem estar animal.
        </p>
        <p>Feito com <mat-icon aria-hidden="false" aria-label="heart icon">favorite</mat-icon>por amigoanimal.</p>
    </div>

    <div class="narrow-column">
        <h2>Contato</h2>
        <ul>
            <li>amigoanimal@ong.br</li>
            <li>55 21 3745 1144</li>
            <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a></li>
            <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon> Facebook</a></li>
            <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon> Instagram</a></li>
        </ul>
    </div>

    <div class="narrow-column">
        <h2>Como Ajudar?</h2>
        <ul>
            <li><a routerLink="/pets">Quero adotar</a></li>
            <li><a routerLink="/howto-help">Quero doar</a></li>
            <li><a routerLink="/ngos">ONGs/Protetores</a></li>
        </ul>
    </div>
</footer>