<div class="card" *ngIf="adopter && card">
    <mat-card class="example-card">
        <mat-card-title>{{ adopter.name }}</mat-card-title>
        <mat-card-subtitle>{{ adopter.email }}</mat-card-subtitle>
        <mat-card-content>
          <ul>
              <li>Data de nascimento: {{ adopter.birthdate | date: 'longDate' }}</li>
              <li>Telefone: {{ adopter.phone }}</li>
              <li>Cidade: {{ adopter.location.city }}</li>
              <li>Estado: {{ adopter.location.state }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="navigateToDetails()">Detalhes</button>
          <button mat-flat-button color="warn" (click)="removeAdopter()"><mat-icon>delete</mat-icon>Apagar</button>
        </mat-card-actions>
      </mat-card>
</div>

<div class="details" *ngIf="adopter && !card">
    <mat-card class="example-card">
        <mat-card-title>{{ adopter.name }}</mat-card-title>
        <mat-card-subtitle>{{ adopter.email }}</mat-card-subtitle>
        <mat-card-content>
          <ul>
              <li>Data de nascimento: {{ adopter.birthdate | date: 'longDate' }}</li>
              <li>CPF: {{ adopter.cpf | cpf }}</li>
              <li>Telefone: {{ adopter.phone | phone }}</li>
              <li>Cidade: {{ adopter.location.city }}</li>
              <li>Estado: {{ adopter.location.state }}</li>
              <li>Endereço: {{ adopter.address }}</li>
              <li *ngIf="adopter.complement">Complemento: {{ adopter.complement }}</li>
              <li>Bairro: {{ adopter.neighborhood }}</li>
              <li>Pets adotados: <app-pet-list [pets]="myPets"></app-pet-list></li>
          </ul>
        </mat-card-content>
      </mat-card>
</div>