@import '../../../../../assets/styles/colors';

.card {
    width: 768px;
    padding: 16px;
    background-color: $primary;
    color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 80px;
        display: inline-block;
        border: 2px solid $secondary;
    }

    ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 496px;
    }

    h4 {
        font-size: 18px;
        margin: 0 0 8px 0;
    }

    button {
        padding: 8px 24px;
    }
}

.member-details {
    width: 768px;
    padding: 16px;
    margin-left: 88px;
    background-color: $primary;
    color: $secondary;
    display: flex;
    justify-content: space-between;

    img {
        width: 240px;
        border: 2px solid $secondary;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 472px;
    }

    h1 {
        margin: 0 0 16px 0;
    }
}