footer {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 32px;
    margin: 0;
    background-color: #D6D7E9;

    div {
        padding: 16px;

        h3 {
            font-size: 16px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
    
            li {
                padding: 0;
                margin: 0;
            }
    
        }
        .icon {
            font-size: 24px;
            padding-right: 24px;
        }
    }
}

