<footer>
    <div>
        <h3>PRODUTOS</h3>
        <ul>    
            <li>Calçados</li>
            <li>Tênis</li>
            <li>Roupas</li>
            <li>Acessórios</li>
            <li>Chuteiras</li>
            <li>Personalização</li>
        </ul>
    </div>

    <div>
        <h3>COLEÇÕES</h3>
        <ul>
            <li>Yeezy</li>
            <li>Farm</li>
            <li>Ultraboost</li>
            <li>Superstar</li>
            <li>Stan Smith</li>
            <li>adicolor</li>
        </ul>
    </div>

    <div>
        <h3>SUPORTE</h3>
        <ul>
            <li>Podemos Ajudar?</li>
            <li>Atendimento ao cliente</li>
            <li>Dúvidas frequentes</li>
            <li>Tabela de Tamanhos</li>
            <li>Vendas Por Whatsapp</li>
            <li>Como Comprar</li>
            <li>Entregas e Frete</li>
            <li>Opções de Pagamento</li>
            <li>Troca e devolução</li>
        </ul>
    </div>

    <div>
        <h3>PRIVACIDADE & TERMOS</h3>
        <ul>
            <li>Termos e Condições de Navegação</li>
            <li>Termos e Condições #YESadidas</li>
            <li>Politica de privacidade</li>
            <li>Formas de pagamento</li>  
        </ul>  
    </div>
    
    <div>
        <h3>INFORMAÇÕES CORPORATIVAS</h3>
        <ul>
            <li>Sobre nós</li>
            <li>Carreiras</li>
            <li>Imprensa</li>
        </ul>
    </div>
    
    <div>
        <h3>SOCIAL MEDIA</h3>
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
        <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
        <fa-icon [icon]="faTwitter" class="icon"></fa-icon> 
    </div>
</footer>