$primary: #60489D;
$text: #2D2D2D;

h2 {
    text-align: center;
}

.hero-img {
    background-image: url('../../../../../assets/company.jpg');
    background-size: cover;
    width: 100%;
    height: 320px;
    z-index: 1;
}

.container {
    margin: 64px auto;
    width: 760px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    div {
        width: 240px;
        padding: 16px;
        margin-bottom: 24px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:hover {
            background-color: #eeeeee;
        }
    }
}