<footer>
    <ul>
        <li>INSTITUCIONAL</li>
        <li>Sobre</li>
        <li>Conceito</li>
        <li>Central de Ajuda</li>
        <li>Fale Conosco</li>
    </ul>
    <ul>
        <li>PLANOS</li>
        <li>Planos</li>
        <li>Benefício corporativo</li>
    </ul>
    <ul>
        <li>CORPORATIVO</li>
        <li>Imprensa</li>
        <li>Quero ser um franqueado</li>
        <li>Trabalhe Conosco</li>
    </ul>
    <ul>
        <li>SIGA A WORKOUT</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>YouTube</li>
        <li>Spotify</li>
    </ul>
</footer>