.card {
    width: 192px;
    height: 272px;
    border: 1px solid #D6D7E9;
    font-size: 14px;
    position: relative;
    
    p {
        padding: 8px;
        margin: 0;
    }

    .name {
        font-weight: bold;
    }

    .icon {
        font-size: 12px;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    img {
        width: 192px;
    }    
}