/*  COLORS
    red BD0625
    grey D6D7E9
    dark blue 25203E
    off-white F7FBFE
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #25203E;
}

h1 {
    font-size: 48px;
    margin: 0 0 40px 0;
}

h2 {
    font-size: 32px;
}