@import '../../../../../assets/styles/colors';

div {
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    width: 596px;
    color: white;
    position: relative;

    h4 {
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    button {
        font-size: 14px;
        border: none;
        border-radius: 16px;
        padding: 0 8px;
        margin-left: 16px;
        cursor: pointer;
    }

    .done {
        color: $color-complete;
        background-color: white;
    }
    .pending {
        color: $color-pending;
        background-color: white;
    }

    .icon {
        position: absolute;
        right: 16px;
    }
}

.done-div {
    background-color: $color-complete;
}

.pending-div {
    background-color: $color-pending;
}