main {
    width: 80%;
    margin: 40px 80px;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            padding: 16px 0;
        }
    }
}