<main>
    <div class="banner">
        <div class="text">
            <h1>Encontre hoje seu melhor amigo.</h1>
            <h3>Amigo Animal é um programa que estreita laços entre pessoas que  
                sonham adotar um pet e ONGs e protetores. Vamos juntos incentivar 
                a adoção!</h3>
            <button mat-raised-button color="accent" [routerLink]="['/pets']">Procurar um melhor amigo</button>
        </div>
    </div>

    <h2>Nós fazemos a conexão entre quem deseja adotar um pet e uma rede de ONGs e protetores.
        Quer fazer parte dessa corrente do bem? Veja como:</h2>

    <div class="container">
        <div class="card">
            <mat-icon aria-hidden="true">person</mat-icon>
            <h1>Faça seu cadastro</h1>
            <span>
                Clique em "Cadastro", preencha seus dados para criar sua conta e faça login.
            </span>
        </div>
        <div class="card">
            <mat-icon aria-hidden="true">pets</mat-icon>
            <h1>Ache seu pet</h1>
            <span>
                Seu futuro melhor amigo pode estar entre nossos vários pets cadastrados. 
                Clique em "Quero adotar" para ver a lista completa dos pets disponíveis e suas descrições.
            </span>
        </div>
        <div class="card">
            <mat-icon aria-hidden="true">assignment</mat-icon>
            <h1>Preencha o formulário</h1>
            <span>
                Preencha o formulário de interesse e uma ONG ou protetor entrará em contato com você 
                por telefone em até 48 horas.
            </span>
        </div>
        <div class="card">
            <mat-icon aria-hidden="true">loyalty</mat-icon>
            <h1>Adoção completa</h1>
            <span>
                Caso seja aprovado pela ONG ou protetor, você pode ir buscar seu novo amigo no horário 
                e local combinado.
            </span>
        </div>
    </div>
</main>